.footer {

    width: 100%;
    height: 320px;
    background-color: #24509D;
    color: black;
    text-align: center;
}

.ha {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}