.redd {
    margin-top: 100px;
    border-bottom-width: 120px;
    margin-left: 120px;
}

.pag {
    margin-top: 60px;
    width: 1000px;
    height: 100px;
    padding: 50px;
    border: 1px solid whitesmoke;
    margin-left: 180px;
}

.re {
    margin-top: 100px;
    border-bottom-width: 120px;
    margin-left: 300px;
}

.gg {
    margin-left: 200px;


}

.r {
    border-bottom-width: 120px;
    margin-left: 300px;
}

.k {
    margin-left: 200px;
}

.bh {
    margin-top: 100px;
    border-bottom-width: 120px;

}

.cr {
    margin-top: 80px;
    border-bottom-width: 120px;
}

.ls {

    margin-top: 50px;
    border-bottom-width: 120px;
    margin-left: 300px;
}